---
---

@import "{{ site.theme }}";

h1.project-name a {
  color: #9c39cc;
}

.page-header {
  background-image: url(/original/assets/images/astroid.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  
}
